<ion-view hide-nav-bar="true">
  <ion-content class="bg-dirz padding-login">
    <label class="item item-image bg-dirz border-none" id="logo-top">
      <img src="img/dirzSemFundo.png">
    </label>
    <form ng-submit="doLogin()">
      <div class="list card" id="boxOut">
        <label class="item item-input">
          <input type="email" ng-model="loginData.email" placeholder="Email" class="input-login">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="loginData.senha" placeholder="Senha" class="input-login">
        </label>
      </div>
      <label class="item bg-dirz border-none buttonLogin">
        <button class="button button-block" type="submit">Entrar</button>
      </label>
    </form>
      <label class="item bg-dirz border-none buttonLogin">
        <h2 style="text-align: center; color:#fff">Ou</h2>
      </label>

      <label class="item bg-dirz border-none buttonLogin">
        <button class="button button-block button-positive icon-left ion-social-facebook" type="submit" ng-click="loginFace()">Entrar Com Facebook</button>
      </label>

      <label class="item bg-dirz border-none buttonLogin">
        <button class="button button-block button-assertive icon-left ion-social-googleplus" type="submit" ng-click="loginGoogle()">Entrar Com Google+</button>
      </label>
    
  </ion-content>
</ion-view>
