<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" align-title="center">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" align-title="center">
         <button class="button button-clear" ng-click="openPopover($event)">Filtros</button>
      </ion-nav-buttons>
     
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <a class="item item-thumbnail-left" id="userBox">
          <img src="img/ionic.png">
          <h2>Usuário</h2>
          <p>usuario@dirz.com</p>
        </a>
        <ion-item menu-close href="#/app/questionarios" class="item-icon-left">
          Questionários
          <i class="icon ion-compose"></i>
        </ion-item>
        <ion-item menu-close href="#/app/search" class="item-icon-left">
          Ranking
          <i class="icon ion-trophy"></i>
        </ion-item>
        <ion-item menu-close href="#/app/browse" class="item-icon-left">
          Parceiros
          <i class="icon ion-heart"></i>
        </ion-item>
        <ion-item menu-close href="#/app/playlists" class="item-icon-left">
          Sair
          <i class="icon ion-power"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
