<ion-popover-view style="height: 115px; width: 250px;">
	<ion-content>
		<ul class="list">
			<li class="item item-toggle">
			Não respondido
			<label class="toggle toggle-calm">
				<input type="checkbox" id="nResp" checked="true">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
			</li>
			<li class="item item-toggle">
			Respondido
			<label class="toggle toggle-calm">
				<input type="checkbox" id="Resp">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
			</li>
		</ul>
	</ion-content>
</ion-popover-view>