<ion-view view-title="Questionário {{questionario}}">
<ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" align-title="center">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" align-title="center" >
         <button class="button button-icon button-clear ion-ios-information" ng-click="openModal()" ng-hide="finalizado"></button>
      </ion-nav-buttons>
     
    </ion-nav-bar>
  <ion-content>

  <div class="list card" ng-hide="finalizado"> <!--interface questão -->
    <div class="item item-image" ng-if="questaoatual.image!= ''">
      <img ng-src="img/{{questaoatual.image}}">
    </div>
    <div class="item item-divider item-text-wrap">
        {{questaoatual.text}}
    </div>
    <label class="item pointer item-text-wrap" ng-repeat="option in questaoatual.options" ng-class="{active: (questaoatual.respostaEscolhida == option.id)}">
        <input type="radio" name="{{questaoatual.id}}" ng-value="option.id" ng-model="questaoatual.respostaEscolhida" ng-hide="true">{{ option.text }}
    </label>
  </div>  
    <br>
    <div class="bar bar-light" ng-hide="finalizado">
      <button class="button button-calm" ng-click="previousQuestion()" ng-disabled="questaoatual.id==1">Anterior</button>
       <h1 class="title">{{questaoatual.id}}/{{questoes.length}}</h1>
      <button class="button button-calm" ng-click="nextQuestion()" ng-if="questaoatual.id!=questoes.length">Próximo</button>
      <button class="button button-calm" ng-click="corrigirQuestoes()" ng-if="questaoatual.id==questoes.length">Finalizar</button>
    </div>

    <script id="my-modal.html" type="text/ng-template"> //template popup info questão
      <ion-modal-view>
        <ion-header-bar align-title="center" class="bar-stable">
          <h1 class="title">Informações</h1>
          <div class="buttons">
            <button class="button button-clear button-icon ion-close-round dark" ng-click="closeModal()"></button>
          </div>           
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <div class="item item-text-wrap">Ano: {{questaoatual.ano}}</div>
            <div class="item item-text-wrap">Banca: {{questaoatual.banca}}</div>
            <div class="item item-text-wrap">Órgão: {{questaoatual.orgao}}</div>
            <div class="item item-text-wrap">Disciplina: {{questaoatual.disciplina}}</div>
            <div class="item item-text-wrap">Prova: {{questaoatual.prova}}</div>
            <div class="item item-text-wrap">Assuntos: {{questaoatual.assuntos}}</div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <!-- fim interface questão -->    

    <div ng-hide="!finalizado">
      <div class="card">
        <div class="item item-text-wrap text-center"><p>Você acertou {{contaQuestoesCorretas}} questões de {{total}}</p>
        <p>Porcentagem : {{porcentagem}}%</p>

        <p>Sua pontuação atual é: 100 (+25)</p></div>

        <div class="item item-text-wrap">

          <button ng-repeat="questao in questoes" ng-click="detalhaQuestao(questao.id)" class="button" ng-class="setColor(questao.respostaEscolhida, questao.correctId)">{{(questao.id)}}  </button><br>   

        </div>
        <div ng-show="showQuestao">
          <div class="item item-text-wrap">{{detalhaAtual.text}}</div>
          <div class="item item-text-wrap" ng-class="setCor(detalhaAtual.options[0].id, detalhaAtual.correctId)">{{detalhaAtual.options[0].text}}</div>
          <div class="item item-text-wrap" ng-class="setCor(detalhaAtual.options[1].id, detalhaAtual.correctId)">{{detalhaAtual.options[1].text}}</div>
          <div class="item item-text-wrap" ng-class="setCor(detalhaAtual.options[2].id, detalhaAtual.correctId)">{{detalhaAtual.options[2].text}}</div>
          <div class="item item-text-wrap" ng-class="setCor(detalhaAtual.options[3].id, detalhaAtual.correctId)">{{detalhaAtual.options[3].text}}</div>
          <div class="item item-text-wrap" ng-class="setCor(detalhaAtual.options[4].id, detalhaAtual.correctId)">{{detalhaAtual.options[4].text}}</div>
          <div class="item item-text-wrap">Você Marcou: {{converteIdAlternativa(detalhaAtual.respostaEscolhida)}}
          </div>
        </div>
      
    </div>

  </ion-content>
</ion-view>
