<ion-view view-title="Questionários" align-title="center">
  <ion-content>
    <ion-list>    
      <div class="card " ng-repeat="questionario in questionarios">
      	<div class="item item-divider">
	    {{questionario.title}}
	  </div>
	  <div class="item item-text-wrap">
	    Preencha e responda
	  </div>
	  <div class="item item-divider">
	    <a class="button button-block button-calm" href="#/app/questionario/{{questionario.id}}">Começar</a>
	  </div>        
      </div>
    </ion-list>
  </ion-content>
</ion-view>
