/* Empty. Add your own CSS if you like */
#userBox h2{
	margin-top: 20px;
}
.pointer{
	cursor: pointer;
}
.active{
	background-color: #888888;
}
.text-center{
	text-align: center;
}
.padding-login{
	padding: 60px 40px 0 40px;
}
.bg-dirz{
	background-color: #4b4b4d;
}

.border-none{
	border: none;
}
.input-login{
	background-color: #353537 !important;
	color: #fff !important;
	text-align: center;
	padding-right: 22px !important;
}
#boxOut{
	border: 2px solid #808082 !important;
	border-radius: 5px;
}
#boxOut label{
	background-color: #353537 !important;
}
.buttonLogin{
	padding: 0px 16px ;
}
.buttonLogin button{
	background-color: #c3c3cb;
}
